<div class="mx-auto w-75">
  <p>Add pruduct</p>

  {{#if errorAddProduct}}

  <div class="alert alert-danger alert-dismissible  fade show" role="alert">
   
   <p> <span class="text-danger fw-bold">!Error</span> {{errorAddProduct}}</p>
  <button type="button" class="btn-close " data-bs-dismiss="alert" aria-label="Close"></button>
</div>

  {{/if}}

  <form action="/add-products" method="post">
    <div class="form-floating mb-3">
      <input
        name="title"
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="title"
      />
      <label for="floatingInput">title</label>
    </div>
    <div class="form-floating mb-3">
      <input
        name="description"
        type="text"
        class="form-control"
        id="floatingPassword"
        placeholder="description"
      />
      <label for="floatingPassword">description</label>
    </div>
    <div class="form-floating mb-3">
      <input
        name="image"
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="image"
      />
      <label for="floatingInput">image</label>
    </div>

    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping">$</span>
      <input
        type="text"
        class="form-control"
        name="price"
        placeholder="price"
        aria-label="Username"
        aria-describedby="addon-wrapping"
      />
    </div>

    <button type="submit" class="btn btn-primary mt-3">Add product</button>
  </form>
</div>